.main-layout {
  display: flex;
  flex-flow: row nowrap;

  .main {
    flex: 0 0 70%;
    width: 70%;
    max-width: 70%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;

    .item {
      margin-bottom: 10px;

      ._jd {
        h2 {
          font-size: 24px;
          line-height: 30px;
          margin-top: 0;
          margin-bottom: 20px;
        }

        .j_e {
          opacity: 0.5;
          border-radius: 2px;
          margin-bottom: 15px;
          font-size: 13px;
        }
      }
    }

    .prod{
      border-bottom: 1px solid #f2f2f2;
      line-height: 21px;
      padding-bottom: 10px;
      margin-bottom: 5px;
      display: flex;
      align-items: center;

      .total{
        margin-left: auto;
        // color: #2e9cc3;
        letter-spacing: 0;
        font-weight: bold;
        cursor: text;
        align-self: flex-end;
        font-size: 24px;
      }
    }

    .pro-body{
      display: flex;

      ._det{

        ._pdetails{
          margin-bottom: 5px;
          line-height: 1.3;
          padding-top: 5px;

        }

        ._pcode{

        }

        ._pava{
          display: flex;
          font-size: 15px;
          margin-top: 10px;

          div{
            margin-right: 5px;
          }

          ._ic{

            & svg{
              width: 15px;

                & path{
                stroke: rgba(61, 77, 106, 0.507);
              }
            }
          }

          ._qty{
            font-weight: 600;
            opacity: .5;

          }

          ._uni{
            font-weight: 600;
            opacity: .5;
          }
        }

        ._prc{
          margin-top: 5px;
          font-weight: 600;
          font-size: 18px;
          padding: 5px;
          height: unset;
        }

      }

      ._sie{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin-left: auto;

        button.reset{
          background: none;
          padding: 3px;
          box-shadow: none;
          display: inline;
          // align-items: center;
          opacity: .8;

          &:hover{
            opacity: 1;
          }

          &:disabled, button[disabled]{
            cursor: not-allowed;
          }

          img{
            width: 20px;
          }
        }

        .counter{
          display: inline-flex;
          align-items: center;

          button{
            background: none;
            padding: 3px;
            box-shadow: none;

            & svg{
              width: 10px;
              height: 10px;
            }

            &:hover{
              // border: solid 1px ;
              // border-radius: 3px;

              & svg{

                & path{
                  stroke: #FFE379;
                }

              }

            }

            &:active{
              // box-shadow:0px 10px 13px -7px #b5cdf8;

              & svg{

                & path{
                  stroke: #ff5a5a;
                }

              }

            }

            &:disabled, button[disabled]{
              cursor: not-allowed;

              &:hover{
                // box-shadow:0px 10px 13px -7px #b5cdf8;

                & svg{

                  & path{
                    stroke: initial;
                  }

                }

              }
            }


          }

          input{
            border: 0;
            width: 50px;
            overflow: visible;
            max-width: 100px;
            padding: 0;
            text-align: center;
            font-weight: lighter;
            font-size: 20px;

            &:focus{
              border-bottom: 2px solid #3d4d6a;
              border-radius: 0;
            }
          }


        }


      }
    }

    .pro-footer{
      border-top: 1px solid #f2f2f2;
      line-height: 21px;
      padding-top: 5px;
      margin-top: 5px;

    ._pfor{
      display: flex;
      align-items: center;

      .dis{
        cursor: pointer;

        span:nth-child(2){
          margin-left: 5px;

          svg{
            width: 8px;
            transform: rotate(-90deg);
          }
        }
      }

      .rmv{
        margin-left: auto;

      }
    }

    .dis_inp{
      padding: 5px 10px;
      display: none;
      align-items: center;
      font-weight: 600;
      font-size: 20px;

      input{
        border: 1px solid #f2f2f2;
        height: unset;
        width: 50px;
        overflow: visible;
        color: rgba(61, 77, 106, 0.5);
        max-width: 100px;
        padding: 5px 2px;
        text-align: right;
        font-weight: lighter;

        &:focus{
          border: 0px solid #3d4d6a;
        }

      }

      span{
        color: rgba(61, 77, 106, 0.5);
      }

    }

    }

    .dsc{
      font-weight: 400;
      font-style: italic;
      text-decoration: line-through;
      color: #b2b2b2;
      font-size: 16px;
      margin-right: 10px;
    }

    .item{
      margin-bottom: 10px;
    }

    .pro-footer.show {
      .dis{
        span:nth-child(2){
          svg{
            width: 8px;
            transform: rotate(0deg) !important;
          }
        }
      }
    }

    .pro-footer.show {
      .dis_inp{
        display: inline-flex;
      }
    }
    .select{
      border: solid 1px #BBC1E1;
      border-radius: 7px;

    }

    .select option {
      font-weight:normal;
    }

    .select.ng-valid{
      border: none;
    }
    .red-text{
      color: #ff5a5a;
    }


    .card-container.collapse{
      position: relative;
      height: 50px;
      overflow: hidden;
      padding: 30px;
    }

  }

  .side {
    flex: 0 0 30%;
    width: 30%;
    max-width: 30%;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
    box-sizing: border-box;
  }
}

.add {
  display: flex;
  padding: 20px 0;

  button {
    margin-left: auto;
  }
}

.side-total {
  transition: all 1s ease-in-out;

  .card-container {
    // padding-top: 10px;
  }

  ._sid {
    margin-bottom: 20px;

    h2 {
      font-size: 24px;
      line-height: 30px;
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  ._sdeta {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 20px;

    ._dk {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      .pro_d {
        text-align: left;
      }

      ._pro_pr {
        text-align: right;
      }
    }
  }

  .pay {
    .tt_ot {
      .tti {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        margin-top: 15px;

        .fur {
          font-weight: 600;
          text-align: left;
          font-size: 18px;
        }

        .fke {
          font-size: 26px;
          font-weight: 600;
          text-align: right;
        }
      }
    }

    ._pa {
      button {
        display: block;
        width: 100%;
        height: 3.5rem;
      }
    }
  }
}

.fixed {
  top: 16px;
  z-index: 4;
  position: fixed !important;
  width: 320px;
}

.bad{
  color: #ff5a5a;
}

.up{
  position: fixed;
  bottom: 10%;
  right: 20%;
  width: 45px;
  height: 45px;
  cursor: pointer;
  box-shadow: 0px 2px 4px #e7eaeefa;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;

  &:hover, &:active{

    svg{
      path{
        stroke: rgb(138, 150, 172);
      }
    }
  }

  .goUp{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;

    // svg
  }

  .no{
    position: absolute;
    color: #3d4d6a !important;
    font-weight: bold;
    top: 30%;
    right: -33%;
    font-size: 1.2rem;
    // display: none;
  }
}

.red{
  margin: 0;
  margin-left: 5px;
}
