<nav class="sidebar">

  <div class="_head">
    <a href="" [routerLink]="['/']" >
      <div class="logo">
        <img src="assets/images/logo.png" alt="Logo">
        <div> Fes </div>
      </div>
    </a>
  </div>

  <ul class="navlinks">
    <li>
      <a [routerLink]="['/']" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact: true}" class="nav">
        Dashboard
      </a>
    </li>
    <li style="border: solid red 2px;">
      <!-- <a [routerLink]="['/addproduct']" routerLinkActive="nav-active" class="nav">
        Add Product
      </a> -->
      <a routerLinkActive="nav-active" class="nav">
        Product
      </a>
      <ul class="navlink">
        <li>
          <a [routerLink]="['/product']" routerLinkActive="nav-active" class="nav">
            Add Product
          </a>
        </li>
        <li>
          <a [routerLink]="['/addproduct']" routerLinkActive="nav-active" class="nav">
            View Product
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a [routerLink]="['/sales']" routerLinkActive="nav-active" class="nav">
        Make Sale
      </a>
    </li>
  </ul>
</nav>
