<div class="header">
  <div class="title">
    Sales
  </div>
  <app-top-bar></app-top-bar>
</div>

<div class="main-layout">

  <div class="main">
    <div class="card-container item">
      <div class="_jd">
        <h2>
          Client Cart ({{numbers}})
        </h2>

        <div class="j_e">
          {{date | date: 'medium'}}
        </div>

        <div class="checkbox">
          <input id="c1" type="checkbox">
          <label for="c1">Select All</label>
        </div>
      </div>

    </div>

    <app-sale *ngFor="let item of cart; index as i"></app-sale>

    <div class="add">
      <button (click)="addSale()">
        Add
      </button>
    </div>

  </div>

  <div class="side">
    <div class="side-total">
      <div class="card-container">
        <div  class="_sid">
          <h2> Sale Summary</h2>
        </div>
        <div class="_sdeta">
          <div class="_dk">
            <div class="pro_d">
              Derika Rice 500kg
            </div>
            <div class="_pro_pr">
              $5500
            </div>
          </div>
          <div class="_dk">
            <div class="pro_d">
              Derika Rice 500kg
            </div>
            <div class="_pro_pr">
              $55029
            </div>
          </div>
          <div class="_dk">
            <div class="pro_d">
              Derika Rice 500kg
            </div>
            <div class="_pro_pr">
              $55
            </div>
          </div>
        </div>

        <div class="pay">
          <div class="tt_ot">
            <div class="tti">
              <div class="fur">
                Total
              </div>
              <div class="fke">
                $25000033
              </div>
            </div>
          </div>
          <div class="_pa">
            <button class="red">
              Make Sale ({{numbers}})
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
