.main-layout{
  display: flex;
  flex-flow: row nowrap;

  .main{
    flex: 0 0 70%;
    width: 70%;
    max-width: 70%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;

    .item{
      margin-bottom: 10px;

      ._jd{

        h2{
          font-size: 24px;
          line-height: 30px;
          margin-top: 0;
          margin-bottom: 20px;
        }

        .j_e{
          opacity: .5;
          border-radius: 2px;
          margin-bottom: 15px;
          font-size: 13px;
        }

      }
    }
  }

  .side{
    flex: 0 0 30%;
    width: 30%;
    max-width: 30%;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
    box-sizing: border-box;
  }
}

.add{
  display: flex;
  padding: 20px 0;

  button{
    margin-left: auto;
  }
}