<div class="header">
  <!-- <div class="title">
    Products
  </div> -->
  <app-top-bar style="margin-left: auto;"></app-top-bar>
</div>

<div class="main-layout">
  <div class="table-header">
    <div class="title">
      Product Stock
    </div>
    <div class="je">
      Stocking and Restocking of Product
    </div>
  </div>
  <div class="table-container">
    <ng-template [ngIf]="products">
      <table>
        <thead>
          <th style="padding-left: 30px;">
            Names
          </th>
          <th class="al-r">
            Cost Price ($)
          </th>
          <th class="al-r">
            Selling Price ($)
          </th>
          <th class="al-r las">
            Quantity Left
          </th>
          <th class="btw las">
            Unit
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let item of products" class="table-row" [routerLink]="['/product/view/'+item.id]">
            <td class="xY" style="padding-left: 30px;">
              {{item.name}}
            </td>
            <td class="xY al-r">
              {{item.cost | addComma}}
            </td>
            <td class="xY al-r">
              {{item.price | addComma}}
            </td>
            <td class="xY al-r las">
              {{item.quantity}}
            </td>
            <td class="xY btw las">
              {{item.unit}}
            </td>
          </tr>
        </tbody>
      </table>
    </ng-template>
    <ng-template [ngIf]="products.length == 0">
      <div class="h-1-5 w-100 loading">
      </div>
      <div class="h-1-5 w-100 loading">
      </div>
      <div class="h-1-5 w-100 loading">
      </div>
      <div class="h-1-5 w-100 loading">
      </div>
      <div class="h-1-5 w-100 loading">
      </div>
      <div class="h-1-5 w-100 loading">
      </div>
      <div class="h-1-5 w-100 loading">
      </div>
      <div class="h-1-5 w-100 loading">
      </div>
      <div class="h-1-5 w-100 loading">
      </div>
      <div class="h-1-5 w-100 loading">
      </div>
      <div class="h-1-5 w-100 loading">
      </div>
      <div class="h-1-5 w-100 loading">
      </div>
      <div class="h-1-5 w-100 loading">
      </div>
      <div class="h-1-5 w-100 loading">
      </div>
    </ng-template>
  </div>
</div>
