.det{
  width: 20%;
}
.ovr{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 90%;
}
.las{
  width: 15%;
}

.btw{
  padding-left: 4rem;
}

.je{
  border-radius: 2px;
  margin-bottom: 0px;
  font-size: 13px;
  color: #c7c7c7;
}

.table-header{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .t1{

  }
}
