<br>
<div class="columns is-mobile is-vcentered is-centered">
  <div class="column is-four-fifths">
    <div class="box">
      <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="input" ngModel required name="name" type="text" placeholder="Enter Name of Product">
          </div>
          <p class="help">This is a help text</p>
        </div>
        <div class="field">
          <label class="label">Cost</label>
          <div class="control">
            <input class="input" ngModel required name="cost" type="text" placeholder="Cost of Product">
          </div>
          <p class="help">This is a help text</p>
        </div>
        <div class="field">
          <label class="label">Quantity</label>
          <div class="control">
            <input class="input" ngModel required name="quantity" type="text" placeholder="Quantity">
          </div>
          <p class="help">This is a help text</p>
        </div>
        <div class="field is-grouped is-grouped-right">
          <p class="control">
            <button type="submit" class="button is-link">
              Save
            </button>
          </p>
          <p class="control">
            <a class="button is-light">
              Cancel
            </a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>

