<div class="header">
  <div class="title">
    Sales
  </div>
  <app-top-bar></app-top-bar>
</div>

<div class="main-layout">

  <div class="main" #container>
    <div class="card-container item">
      <div class="_jd">
        <h2>
          Client Cart ({{this.cart.length}})
        </h2>

        <div class="j_e">
          {{date | date: 'medium'}}
        </div>

        <div class="checkbox">
          <input id="c1" type="checkbox">
          <label for="c1">Select All</label>
        </div>
      </div>

    </div>

    <app-sale *ngFor="let item of cart; index as i" [index]="i" [Products]="products"></app-sale>

    <div class="add">
      <button (click)="addSale()">
        Add
      </button>
    </div>

  </div>

  <div class="side">
    <div class="side-total" #sidetotal [ngClass]="{'fixed': sticky}">
      <div class="card-container">
        <div  class="_sid">
          <h2> Sale Summary</h2>
        </div>
        <div class="_sdeta" >
          <div *ngFor="let item of sales" >
            <div class="_dk" *ngIf="item.productSet">
              <div class="pro_d">
                {{item.product.name}} ({{item.quantity}})
              </div>
              <div class="_pro_pr" >
                ${{item.total}}
              </div>
            </div>
          </div>
        </div>

        <div class="pay">
          <div class="tt_ot">
            <div class="tti">
              <div class="fur">
                Total
              </div>
              <div class="fke">
                ${{grandTotal}}
              </div>
            </div>
          </div>
          <div class="_pa">
            <button [disabled]="!cartDetails.length? true : false" (click)="sell()" class="red">
              Make Sale ({{!cartDetails.length? 0 : cartDetails.length }})
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
